body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.button5,.button6,.button7 {
    height:20px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.button5 {
    width:80px;
}
.button6 {
    width:180px;
}
.button7 {
    width:120px;
}

.inputId10 {
height:17px;
border:1px solid #7F9DB7;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
vertical-align:middle;
text-align:left;
}
.inputId10 {
    width:120px;
}
.list_1,.list_2,.list_4,.list_8, {
height:19px;
border:1px solid #7F9DB7;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
vertical-align:middle;
text-align:left;
}
.list_1 {
    width:130px;	
}
.list_2 {
    width:180px;
}
.list_4 {
    width:185px;
}
.list_8 {
    width:140px;	
}


table.infor {
 width:460px;
}
table.infor tr.white_1 {
    background-color:#FFFFFF;
}
table.infor td.tdleft {
    padding-right:5px;
    width:50%;
    height:27px;
    text-align:right;
}
table.table td.td4 {
    width:10%;
    height:24px;
    text-align:right;	
}
table.table td.td11 {
    width:50%;
    height:24px;
    text-align: right;	
}


